In [21]:
import pandas as pd

In [22]:
df = pd.read_csv(r'C:\Users\allaa\Desktop\Hacktiv8\p2-final-project-ftds-025-hck-group-001\DatosPrueba.csv', delimiter=';')
pd.set_option('display.max_columns', None)
df.head()

,Unnamed: 0.1,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,state,zip,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,3,3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,"45,0",Jeremy,White,M,9443 Cynthia Court Apt. 038,Boulder,MT,59632,"46,2306","-112,1138",1939,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81,1325376076,"47,034331","-112,561071",0
1,10,10,2019-01-01 00:06:23,4642894980163,fraud_Rutherford-Mertz,grocery_pos,"24,74",Eddie,Mendez,M,1831 Faith View Suite 653,Clarinda,IA,51632,"40,7491","-95,038",7297,IT trainer,1990-07-13,d71c95ab6b7356dd74389d41df429c87,1325376383,"40,275891","-96,011548",0
2,27,27,2019-01-01 00:21:32,4334230547694630,fraud_Bruen-Yost,misc_pos,"6,85",Scott,Martin,M,7483 Navarro Flats,Freedom,WY,83120,"43,0172","-111,0292",471,"Education officer, museum",1967-08-02,f3c43d336e92a44fc2fb67058d5949e3,1325377292,"43,753735","-111,454923",0
3,32,32,2019-01-01 00:22:44,630412733309,fraud_Torphy-Goyette,shopping_pos,"66,21",Heather,Stanton,F,445 Jerry Lights Apt. 081,Republic,MI,49879,"46,368","-87,9938",1038,Armed forces training and education officer,1964-04-22,20f048d3907dbb9978e23bee7b7578ce,1325377364,"46,412038","-88,516663",0
4,34,34,2019-01-01 00:23:58,374125201044065,"fraud_Bahringer, Schoen and Corkery",shopping_pos,"9,03",Christopher,Gilbert,M,20937 Reed Lakes Apt. 271,Washington,DC,20012,"38,9757","-77,0282",601723,"Optician, dispensing",1970-07-20,c733711c521c41c578f4a964d8350df0,1325377438,"38,880898","-76,44111600000002",0

**Data Processing for ETL:**

- Normalization
- Drop columns `Unnamed:0` and `Unnamed:0.1`
- Remove "fraud" string from `merchant`
- Drop duplicates
- Drop missing values
- Change datatype:
    - `trans_date_trans_time` -> timestamp
    - `amt` -> float
    - `dob` -> datetime (yyyy-mm-dd)
    - `unix_time` -> timestamp (unix format)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200881 entries, 0 to 200880
Data columns (total 24 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0.1           200881 non-null  int64
 1   Unnamed: 0             200881 non-null  int64
 2   trans_date_trans_time  200881 non-null  object
 3   cc_num                 200881 non-null  int64
 4   merchant               200881 non-null  object
 5   category               200881 non-null  object
 6   amt                    200881 non-null  object
 7   first                  200881 non-null  object
 8   last                   200881 non-null  object
 9   gender                 200881 non-null  object
 10  street                 200881 non-null  object
 11  city                   200881 non-null  object
 12  state                  200881 non-null  object
 13  zip                    200881 non-null  int64
 14  lat                    200881 non-null  object
 15  long                   200881 non-null  object
 16  city_pop               200881 non-null  int64
 17  job                    200881 non-null  object
 18  dob                    200881 non-null  object
 19  trans_num              200881 non-null  object
 20  unix_time              200881 non-null  int64
 21  merch_lat              200881 non-null  object
 22  merch_long             200881 non-null  object
 23  is_fraud               200881 non-null  int64
dtypes: int64(7), object(17)
memory usage: 36.8+ MB

In [24]:
df.drop(columns=['Unnamed: 0', 'Unnamed: 0.1'], inplace=True) # Drop the first column
df.drop_duplicates(inplace=True) # Drop duplicates 
df.dropna(inplace=True) # Drop duplicates

In [25]:
df["trans_date_trans_time"] = pd.to_datetime(df["trans_date_trans_time"])
df["dob"] = pd.to_datetime(df["dob"])
df["unix_time"] = pd.to_datetime(df["unix_time"], origin='unix', unit='s')

# 2. Replace commas with dots and convert to numeric
comma_to_float_cols = ["amt", "lat", "long", "merch_lat", "merch_long"]
for col in comma_to_float_cols:
    df[col] = df[col].str.replace(",", ".").astype(float)

In [26]:
df['merchant'] = df['merchant'].str.replace("fraud", "")
# 4. Strip spaces and lowercase categorical strings
cat_cols = ["merchant", "category", "first", "last", "gender", "street", "city", "state", "job"]
for col in cat_cols:
    df[col] = df[col].str.strip()
    df[col] = df[col].str.replace("_", " ")

In [27]:
df

,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,state,zip,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,2019-01-01 00:01:16,3534093764340240,"Kutch, Hermiston and Farrell",gas transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,Boulder,MT,59632,46.2306,-112.1138,1939,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81,2012-01-01 00:01:16,47.034331,-112.561071,0
1,2019-01-01 00:06:23,4642894980163,Rutherford-Mertz,grocery pos,24.74,Eddie,Mendez,M,1831 Faith View Suite 653,Clarinda,IA,51632,40.7491,-95.0380,7297,IT trainer,1990-07-13,d71c95ab6b7356dd74389d41df429c87,2012-01-01 00:06:23,40.275891,-96.011548,0
2,2019-01-01 00:21:32,4334230547694630,Bruen-Yost,misc pos,6.85,Scott,Martin,M,7483 Navarro Flats,Freedom,WY,83120,43.0172,-111.0292,471,"Education officer, museum",1967-08-02,f3c43d336e92a44fc2fb67058d5949e3,2012-01-01 00:21:32,43.753735,-111.454923,0
3,2019-01-01 00:22:44,630412733309,Torphy-Goyette,shopping pos,66.21,Heather,Stanton,F,445 Jerry Lights Apt. 081,Republic,MI,49879,46.3680,-87.9938,1038,Armed forces training and education officer,1964-04-22,20f048d3907dbb9978e23bee7b7578ce,2012-01-01 00:22:44,46.412038,-88.516663,0
4,2019-01-01 00:23:58,374125201044065,"Bahringer, Schoen and Corkery",shopping pos,9.03,Christopher,Gilbert,M,20937 Reed Lakes Apt. 271,Washington,DC,20012,38.9757,-77.0282,601723,"Optician, dispensing",1970-07-20,c733711c521c41c578f4a964d8350df0,2012-01-01 00:23:58,38.880898,-76.441116,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200876,2020-06-21 12:03:37,6534628260579800,"Wintheiser, Dietrich and Schimmel",misc pos,7.38,Christine,Harris,F,29606 Martinez Views Suite 653,Hinesburg,VT,5461,44.3346,-73.0980,4542,Claims inspector/assessor,1998-03-19,dc748338a249faae170a009f16f3d2da,2013-06-21 12:03:37,44.006334,-72.579624,0
200877,2020-06-21 12:07:09,4158945090781624,"Wintheiser, Dietrich and Schimmel",misc pos,5.48,Justin,Bell,M,5323 Walker Island,Pittsburgh,PA,15217,40.4308,-79.9205,687276,"Scientist, marine",1973-10-19,efdf3d21369df12af22f898d137e00a7,2013-06-21 12:07:09,40.810441,-79.181444,0
200878,2020-06-21 12:08:36,3531129874770000,"Larkin, Stracke and Greenfelder",entertainment,69.38,Shelby,Mitchell,F,974 Cindy Stream,Brandon,VT,5733,43.8065,-73.0882,5895,"Scientist, marine",1975-07-13,be0ac1fd89b5d91d5032c052d70e8ed2,2013-06-21 12:08:36,43.808957,-72.277168,0
200879,2020-06-21 12:09:22,4587657402165341815,"Hyatt, Russel and Gleichner",health fitness,7.30,Amber,Lewis,F,6296 John Keys Suite 858,Pembroke Township,IL,60958,41.0646,-87.5917,2135,"Psychotherapist, child",2004-05-08,37a18c6fb0c5c722b6339ffedc82f55a,2013-06-21 12:09:22,40.556811,-88.092339,0
200880,2020-06-21 12:13:37,4292902571056973207,"Langosh, Wintheiser and Hyatt",food dining,4.30,Jeffrey,Smith,M,135 Joseph Mountains,Sula,MT,59871,45.8433,-113.8748,218,"Therapist, horticultural",1995-08-16,8f7c8e4ab7f25875d753b422917c98c9,2013-06-21 12:13:37,46.565983,-114.186110,0

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200881 entries, 0 to 200880
Data columns (total 22 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   trans_date_trans_time  200881 non-null  datetime64[ns]
 1   cc_num                 200881 non-null  int64
 2   merchant               200881 non-null  object
 3   category               200881 non-null  object
 4   amt                    200881 non-null  float64
 5   first                  200881 non-null  object
 6   last                   200881 non-null  object
 7   gender                 200881 non-null  object
 8   street                 200881 non-null  object
 9   city                   200881 non-null  object
 10  state                  200881 non-null  object
 11  zip                    200881 non-null  int64
 12  lat                    200881 non-null  float64
 13  long                   200881 non-null  float64
 14  city_pop               200881 non-null  int64
 15  job                    200881 non-null  object
 16  dob                    200881 non-null  datetime64[ns]
 17  trans_num              200881 non-null  object
 18  unix_time              200881 non-null  datetime64[ns]
 19  merch_lat              200881 non-null  float64
 20  merch_long             200881 non-null  float64
 21  is_fraud               200881 non-null  int64
dtypes: datetime64[ns](3), float64(5), int64(4), object(10)
memory usage: 33.7+ MB

In [29]:
df_clean = pd.read_csv(r'C:\Users\allaa\Desktop\Hacktiv8\p2-final-project-ftds-025-hck-group-001\ETL\finpro_compose\data\Finpro_data_clean.csv')
pd.set_option('display.max_columns', None)
df_clean.head()

,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,state,zip,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,2019-01-01 00:01:16,3534093764340240,"Kutch, Hermiston and Farrell",gas transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,Boulder,MT,59632,46.2306,-112.1138,1939,Patent attorney,1967-01-12 00:00:00,6b849c168bdad6f867558c3793159a81,2012-01-01 00:01:16,47.034331,-112.561071,False
1,2019-01-01 00:06:23,4642894980163,Rutherford-Mertz,grocery pos,24.74,Eddie,Mendez,M,1831 Faith View Suite 653,Clarinda,IA,51632,40.7491,-95.0380,7297,IT trainer,1990-07-13 00:00:00,d71c95ab6b7356dd74389d41df429c87,2012-01-01 00:06:23,40.275891,-96.011548,False
2,2019-01-01 00:21:32,4334230547694630,Bruen-Yost,misc pos,6.85,Scott,Martin,M,7483 Navarro Flats,Freedom,WY,83120,43.0172,-111.0292,471,"Education officer, museum",1967-08-02 00:00:00,f3c43d336e92a44fc2fb67058d5949e3,2012-01-01 00:21:32,43.753735,-111.454923,False
3,2019-01-01 00:22:44,630412733309,Torphy-Goyette,shopping pos,66.21,Heather,Stanton,F,445 Jerry Lights Apt. 081,Republic,MI,49879,46.3680,-87.9938,1038,Armed forces training and education officer,1964-04-22 00:00:00,20f048d3907dbb9978e23bee7b7578ce,2012-01-01 00:22:44,46.412038,-88.516663,False
4,2019-01-01 00:23:58,374125201044065,"Bahringer, Schoen and Corkery",shopping pos,9.03,Christopher,Gilbert,M,20937 Reed Lakes Apt. 271,Washington,DC,20012,38.9757,-77.0282,601723,"Optician, dispensing",1970-07-20 00:00:00,c733711c521c41c578f4a964d8350df0,2012-01-01 00:23:58,38.880898,-76.441116,False

In [30]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200881 entries, 0 to 200880
Data columns (total 22 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   trans_date_trans_time  200881 non-null  object
 1   cc_num                 200881 non-null  int64
 2   merchant               200881 non-null  object
 3   category               200881 non-null  object
 4   amt                    200881 non-null  float64
 5   first                  200881 non-null  object
 6   last                   200881 non-null  object
 7   gender                 200881 non-null  object
 8   street                 200881 non-null  object
 9   city                   200881 non-null  object
 10  state                  200881 non-null  object
 11  zip                    200881 non-null  int64
 12  lat                    200881 non-null  float64
 13  long                   200881 non-null  float64
 14  city_pop               200881 non-null  int64
 15  job                    200881 non-null  object
 16  dob                    200881 non-null  object
 17  trans_num              200881 non-null  object
 18  unix_time              200881 non-null  object
 19  merch_lat              200881 non-null  float64
 20  merch_long             200881 non-null  float64
 21  is_fraud               200881 non-null  bool
dtypes: bool(1), float64(5), int64(3), object(13)
memory usage: 32.4+ MB